/* Reset: */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;margin:0;padding:0}html{overflow-y:scroll}select,input,textarea,button{font:99% sans-serif}h2,h3,h4{font-weight:400}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}pre,code,kbd,samp{font-family:monospace, sans-serif}a:hover,a:active{outline:none}ul{list-style-position:inside}ol{list-style-type:decimal;list-style-position:inside}small{font-size:85%}strong,th{font-weight:700}td,td img{vertical-align:top}sub{vertical-align:sub;font-size:smaller}sup{vertical-align:super;font-size:smaller}pre{white-space:pre-line;word-wrap:break-word;padding:15px}textarea{overflow:auto}input[type=radio]{vertical-align:text-bottom}label,input[type=button],input[type=submit],button{cursor:pointer}button,input,select,textarea{margin:0}::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}::selection{background:#4ba3de;color:#fff;text-shadow:none}a:link{-webkit-tap-highlight-color:#4ba3de}button{width:auto;overflow:visible}p{padding-bottom:1em;padding-top:.5em}input,select,input[type=checkbox]{vertical-align:middle}
/***/

body {
    margin: 0;
    padding: 0;
    font: 16px 'Lucida Grande', Arial, sans-serif;
    color: #333;
    line-height: 1.6em;
}

h1, h2, h3, h4 {
    font-family: 'Lucida Grande', Arial, sans-serif;
    padding-top: 0.5em;
    line-height: 1.6em;
    color: #111;
}

ol > li {
    list-style-position: outside;
    margin-left: 1.5em;
}

/** Helpers: */

ul.vertical, ul.horizontal {
    margin: 0; padding: 0; list-style: none;
}
ul.horizontal {
    overflow: hidden;
}
ul.horizontal > li {
    float: left; margin-right: 10px;
}
ul.horizontal > li:last-child {
    margin-right: 0px;
}
.rounded-5 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.rounded-10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.hidden {
    display: none;
}

.container {
    width: 760px;
    margin: 0 auto;
}

.quiet {
    font-size: 0.8em;
    color: #888;
}

footer {
    color: #666;
    font-size: 10px;
    text-align:center;
}
footer a {
    color: #555;
}


header h1 {
    padding-top: 0;
}
header h1 a {
    color: #91be48;
    text-decoration: none;
}

/***/
